body {
    background-color: #E0F7FA; 
    font-family: 'Poppins', sans-serif; 
    color: #0D47A1; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #01579B; 
    color: #F0F4F8;  
    padding: 1rem; 
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; 
}

footer {
    background-color: #FFFFFF; 
    color: #0D47A1; 
    padding: 1rem; 
    text-align: center;
    width: 100%; 
    margin-top: 1.5rem;
}

nav {
    background-color: #F0F4F8; 
    padding: 1rem; 
    width: 100%; 
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none; 
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li a {
    color: #0D47A1; 
    text-decoration: none;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400; 
    text-transform: uppercase; 
}

nav ul li a:hover {
    color: #01579B;
}

h1 {
    font-family: 'Lora', serif; 
    font-weight: 700;
    color: #F0F4F8;  
    font-size: 3rem;
    margin: 0;
}

p {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #0288D1; 
    font-size: 1.2rem;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #01579B;
    font-size: 1.5rem;
}

a {
    color: #0288D1; 
    text-decoration: none;
}

a:hover {
    color: #01579B; 
    text-decoration: underline; 
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 8px; 
    border: none;
}
